*::before,
*::after,
* { 
    box-sizing: border-box; 
}

:root {
    /* Layout sizes */
    --mobile: 375px;
    --desktop: 1440px;

    /* Fonts */
    font-family: 'Overpass', sans-serif;
    --regular: 400;
    --bold: 700;

    /* Colors */
    --orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 20%, 18%);
    --darker-blue: #1e242c;
    --dark-blue-2: hsl(223, 10%, 13%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--very-dark-blue);
}

.hidden {
    display: none;
}

#error-msg {
    padding: .25rem;
    background-color: #fff2;
    color: rgb(220, 21, 21);
    transition: .5s;
    border-radius: 8px;
}

.main-container {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rating-card {
    width: 21rem;
    padding: 1.5rem;
    background: linear-gradient(var(--darker-blue) 40%, var(--dark-blue-2) 70%);
    border-radius: 12px;
}

.card-star--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: .6rem .5rem;
    background-color: var(--dark-blue);
    border-radius: 25px;
}

.card-star--container img {
    width: 80%;
}

.card-text--title {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: var(--bold);
    color: var(--White);
}

.card-text--container p {
    font-size: 15px;
    font-weight: var(--regular);
    color: var(--medium-grey);
}

.rating-card--form {
    margin: auto;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.rating-card--list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item {
    width: 40px;
    text-align: center;
    font-size: 15px;
    padding: .7rem .8rem;
    background-color: var(--dark-blue);
    border-radius: 25px;
    color: var(--light-grey);
    cursor: pointer;
}

.list-item:hover {
    color: var(--White);
    background-color: var(--orange);
}

.list-item:active,
.list-item:focus,
.active {
    color: var(--White);
    background-color: var(--light-grey);
}

.rating-card--btn {
    padding: 14px 12px;
    font-size: .75rem;
    color: var(--White);
    border: none;
    background-color: var(--orange);
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: var(--bold);
    letter-spacing: 3px;
    cursor: pointer;
}

.rating-card--btn:hover {
    background-color: var(--White);
    color: var(--orange);
}

/* End */
.card-img--container {
    display: flex;
    justify-content: center;
}

.end {
    text-align: center;
}

.card-selected--output p {
    width: fit-content;
    margin: 1.5rem auto;
    font-size: 15px;
    padding: .5rem;
    background-color: var(--dark-blue);
    color: var(--orange);
    border-radius: 20px;
}
